# Editor configuration, see http://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
trim_trailing_whitespace = false
continuation_indent_size = 4

[*.js]
indent_size = 4
insert_final_newline = true

[*.css]
[*.scss]
indent_size = 4
insert_final_newline = true

[*.json]
indent_size = 4
insert_final_newline = false

[*.md]
max_line_length = off
insert_final_newline = false
trim_trailing_whitespace = false