$backgroundColor: #222831;
// $backgroundColor: #252525;
$activeColor: #ff5200;
$activeColor: #FCD86B;
$activeBgColor: lighten($backgroundColor, 2%);
$caretColor: #87e0ff;
$caretColor: $activeColor;

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body,
html {
    background: $backgroundColor;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system,"Helvetica Neue",sans-serif;
}

@mixin bare-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.c-commander {
    background: #1A1A1A;
    background: darken($backgroundColor, 5%);
    border: none;
    caret-color: $caretColor;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    height: 60px;
    margin: 0;
    outline: 0;
    padding: 18px 12px 0;
    white-space: pre;
    width: 100%;
    
    // previous input is selected by default, so that it is easily overwritten
    // with these rules we hide the selection background color so that you 
    // can't visually see it's selected.
    // This class is removed when user is typing.
    &.has-previous-user-input::selection,
    &.has-previous-user-input *::selection {
      background: rgba(0,0,0,0);
    }
    
}

.c-flex {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100vh;
    
    &__fixed {
        flex: 0;
    }
    &__scroll {
        order: 0;
        align-self: auto;
        flex: 1;
        overflow-y: auto;
    }
}

.c-commands-list {
    @include bare-list;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    padding: 0 12px;
}

.c-list {
    @include bare-list;
    font-weight: 200;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    
    &__item {
        border-bottom: 1px solid darken($backgroundColor, 5%);
        padding: 12px 0;
        padding-left: 60px;
        position: relative;
        
        &:hover, &.is-active {
            color: $activeColor;
            background-color: $activeBgColor;
        }
        &.is-hidden {
            display: none;
        }
        &.is-active .c-selection-list__notation,
        &.is-active .c-list__notation {
            color: $activeColor;
        }
    }
    &__notation {
        background-color: darken($backgroundColor, 5%);
        color: lighten($backgroundColor, 30%);
        height: 24px;
        font-size: 13px;
        line-height: 24px;
        width: 40px;
        text-align: center;
        border-radius: 12px;
        margin-left: -52px;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        &:hover{
            color: $activeColor;
        }
    }
}

.c-command {
  display: inline-block;
  margin-top: -4px;
  &--is-valid {
    background: #455d7a;
    border-radius: 5px;
    display: inline-block;
    margin-top: -4px;
    padding: 4px;
  }
  &__type {
    display: inline-block;
    
    &:after {
      content: attr(data-default-operator);
      color: rgba($backgroundColor, 0.75);
    }
  }
}

[data-list] {
  display: none;
  
  &.is-active {
    display: block;
  }
}

[contenteditable=true]:empty:before {
  color: lighten($backgroundColor, 15%);
  content: attr(placeholder);
  display: block; /* For Firefox */

}
